environment {
  QT_QPA_PLATFORMTHEME "kde"
  XDG_MENU_PREFIX "plasma-"
}

spawn-at-startup "noctalia"
spawn-at-startup "@polkit-kde-agent-1@/libexec/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "activate-linux -c 0.5-0.5-0.5-0.8 -t '激活 Linux' -m '转到“设置”以激活 Linux。'"

prefer-no-csd

debug {
    honor-xdg-activation-with-invalid-serial
}

binds {
    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "ghostty"; }
    Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn-sh "noctalia msg session lock"; }
}

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        bottom-right
    }
}

window-rule {
    open-maximized-to-edges false
}

window-rule {
    match app-id=r#"^steam_app_\d+$"#
    open-fullscreen true
}